n8n/workflows/z-siem-enrichment.json
{
  "name": "Z-SIEM Enrichment",
  "nodes": [
    {
      "name": "Enrichment Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "inputSource": "passthrough"
      },
      "notes": "Called by main workflow (passthrough mode: receives the item built by 'Build Enrich Input' = {case_id,indicator,indicator_type,source_ip})"
    },
    {
      "name": "Build Targets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "parameters": {
        "jsCode": "// Expand offense into (provider x target) work items.\n// Defensively resolve inputs from top-level $json OR a nested passthrough object,\n// since n8n 1.x executeWorkflowTrigger may deliver fields at either level depending\n// on the caller's mappingMode and the trigger's typeVersion.\nconst raw = $input.first().json;\nconst input = (raw.case_id !== undefined || raw.indicator !== undefined)\n  ? raw\n  : (raw.body || raw.data || raw.input || raw);\nconst caseId = input.case_id;\n\nfunction isPublicIp(ip) {\n  if (!ip || ip === 'unknown') return false;\n  const m = ip.match(/^(\\d+)\\.(\\d+)\\.(\\d+)\\.(\\d+)$/);\n  if (!m) return false;\n  const o = m.slice(1).map(Number);\n  if (o.some(x => x > 255)) return false;\n  if (o[0] === 10) return false;\n  if (o[0] === 127) return false;\n  if (o[0] === 169 && o[1] === 254) return false;\n  if (o[0] === 172 && o[1] >= 16 && o[1] <= 31) return false;\n  if (o[0] === 192 && o[1] === 168) return false;\n  if (o[0] === 0) return false;\n  return true;\n}\n\nconst PROVIDERS_BY_TYPE = {\n  ip: ['abuseipdb', 'shodan', 'otx'],\n  domain: ['otx'],\n  url: ['otx'],\n  hash: ['otx']\n};\n\n// Collect unique targets\nconst targets = [];\nconst seen = new Set();\nfunction addTarget(value, type) {\n  if (!value || value === 'unknown') return;\n  const k = type + ':' + value;\n  if (seen.has(k)) return;\n  seen.add(k);\n  targets.push({ value, type });\n}\n\nconst itype = (input.indicator_type || '').toLowerCase();\nconst normType = ['ip','ipv4','ip-src'].includes(itype) ? 'ip'\n  : ['domain','hostname'].includes(itype) ? 'domain'\n  : ['url'].includes(itype) ? 'url'\n  : ['hash','md5','sha1','sha256','file'].includes(itype) ? 'hash'\n  : null;\nif (normType) addTarget(input.indicator, normType);\nif (isPublicIp(input.source_ip)) addTarget(input.source_ip, 'ip');\n\n// Fan out to provider work items\nconst items = [];\nfor (const t of targets) {\n  const providers = PROVIDERS_BY_TYPE[t.type] || [];\n  for (const provider of providers) {\n    items.push({\n      json: {\n        case_id: caseId,\n        target_value: t.value,\n        target_type: t.type,\n        provider,\n        cache_key: `enrich:${provider}:${t.type}:${t.value}`\n      }\n    });\n  }\n}\n\n// If nothing to enrich, emit a single sentinel so downstream note step can still run\nif (items.length === 0) {\n  return [{ json: { case_id: caseId, target_value: null, target_type: null, provider: null, cache_key: null, _empty: true } }];\n}\nreturn items;"
      },
      "notes": "Expand indicator + public source_ip into provider work items"
    },
    {
      "name": "Has Targets?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "t1",
              "leftValue": "={{ $json.target_value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "notes": "True = real target → cache/providers; False = sentinel → straight to Aggregate"
    },
    {
      "name": "Cache Get",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        640,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "get",
        "key": "={{ $json.cache_key }}",
        "options": {
          "dotNotation": false
        },
        "propertyName": "cached_raw"
      },
      "credentials": {
        "redis": {
          "id": "zsiemRedisCred01",
          "name": "Z-SIEM Redis"
        }
      },
      "notes": "Look up per-provider cached verdict; empty if miss or sentinel"
    },
    {
      "name": "Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "h1",
              "leftValue": "={{ $json.cached_raw }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "notes": "True = cached verdict present; False = needs live provider call"
    },
    {
      "name": "Decode Cache Hit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        200
      ],
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const j = item.json;\n  let result = null;\n  try { result = JSON.parse(j.cached_raw); } catch (e) { result = { provider: j.provider, ok: false, data: null }; }\n  return { json: { case_id: j.case_id, target_value: j.target_value, target_type: j.target_type, provider: j.provider, result } };\n});"
      },
      "notes": "Cache hit → parse stored result JSON back to {provider,ok,data}"
    },
    {
      "name": "AbuseIPDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        240
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500,
      "parameters": {
        "method": "GET",
        "url": "https://api.abuseipdb.com/api/v2/check",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ipAddress",
              "value": "={{ $json.target_value }}"
            },
            {
              "name": "maxAgeInDays",
              "value": "90"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "={{ $env.ABUSEIPDB_API_KEY }}"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "notes": "IP reputation; failure → continue with empty body"
    },
    {
      "name": "Shodan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        360
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500,
      "parameters": {
        "method": "GET",
        "url": "=https://api.shodan.io/shodan/host/{{ $json.target_value }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.SHODAN_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "notes": "Host context; 404 = no info (treated as clean), not failure"
    },
    {
      "name": "OTX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        480
      ],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1500,
      "parameters": {
        "method": "GET",
        "url": "=https://otx.alienvault.com/api/v1/indicators/{{ ({ip:'IPv4',domain:'domain',url:'url',hash:'file'})[$json.target_type] }}/{{ encodeURIComponent($json.target_value) }}/general",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-OTX-API-KEY",
              "value": "={{ $env.OTX_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "notes": "OTX pulses for ip/domain/url/hash"
    },
    {
      "name": "Normalize Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        360
      ],
      "parameters": {
        "jsCode": "// Normalize whichever provider produced this item. Best-effort: HTTP errors\n// arrive as items with an `error` field or non-2xx; mark ok=false.\nreturn $input.all().map(item => {\n  const j = item.json;\n  const provider = j.provider;\n  const base = { case_id: j.case_id, target_value: j.target_value, target_type: j.target_type, provider };\n  // n8n continueRegularOutput puts failures in j.error or leaves body empty\n  const failed = j.error !== undefined || j.statusCode >= 500 || (j.body && j.body.error);\n  let data = null, ok = false;\n  try {\n    if (provider === 'abuseipdb' && j.data) { data = { confidence: j.data.abuseConfidenceScore, reports: j.data.totalReports, country: j.data.countryCode }; ok = true; }\n    else if (provider === 'shodan') {\n      if (j.ports || j.data || j.vulns) { data = { ports: j.ports || [], vulns: Object.keys(j.vulns || {}), org: j.org || null }; ok = true; }\n      else if (j.statusCode === 404 || (j.error && String(j.error).includes('404'))) { data = { ports: [], vulns: [], org: null, note: 'no shodan info' }; ok = true; }\n    }\n    else if (provider === 'otx' && j.pulse_info) { data = { pulses: j.pulse_info.count || 0, top: (j.pulse_info.pulses || []).slice(0,3).map(p => p.name) }; ok = true; }\n  } catch (e) { ok = false; }\n  if (failed && !ok) ok = false;\n  return { json: { ...base, result: { provider, ok, data: ok ? data : null } } };\n});"
      },
      "notes": "Map raw provider responses into {provider, ok, data}"
    },
    {
      "name": "Only Cache OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        220
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ok1",
              "leftValue": "={{ $json.result.ok }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "notes": "Gate: only ok results get written to cache"
    },
    {
      "name": "Cache Set",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1760,
        300
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "operation": "set",
        "key": "=enrich:{{ $json.result.provider }}:{{ $json.target_type }}:{{ $json.target_value }}",
        "value": "={{ JSON.stringify($json.result) }}",
        "keyType": "string",
        "expire": true,
        "ttl": "={{ $json.target_type === 'hash' ? Number($env.ENRICH_TTL_HASH) : ($json.result.provider === 'shodan' ? Number($env.ENRICH_TTL_SHODAN) : ($json.result.provider === 'otx' ? Number($env.ENRICH_TTL_OTX) : Number($env.ENRICH_TTL_IP))) }}"
      },
      "credentials": {
        "redis": {
          "id": "zsiemRedisCred01",
          "name": "Z-SIEM Redis"
        }
      },
      "notes": "Cache only successful results (failed ones skipped before this node)"
    },
    {
      "name": "Aggregate Verdict",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        300
      ],
      "parameters": {
        "jsCode": "// Single aggregation point. Fires once: via Normalize Result on the provider\n// path, or via Has Targets? on the empty path. Pull fresh + cached results by\n// node reference so a mixed cache-hit/miss run still yields ONE verdict set.\nfunction safeAll(name){ try { return $(name).all().map(i => i.json); } catch(e){ return []; } }\nconst fresh = safeAll('Normalize Result');\nconst cached = safeAll('Decode Cache Hit');\nconst items = [...fresh, ...cached].filter(j => j && j.target_value);\n\nlet caseId = null;\ntry { caseId = $('Build Targets').first().json.case_id; } catch(e){}\nif (items.length) caseId = items[0].case_id || caseId;\nif (items.length === 0) return [{ json: { case_id: caseId, verdicts: [] } }];\n\nconst byTarget = {};\nfor (const it of items) {\n  const key = it.target_type + ':' + it.target_value;\n  if (!byTarget[key]) byTarget[key] = { value: it.target_value, type: it.target_type, sources: {}, unavailable: [] };\n  const r = it.result || { provider: it.provider, ok: false, data: null };\n  if (r.ok && r.data) byTarget[key].sources[r.provider] = r.data;\n  else if (r.provider) byTarget[key].unavailable.push(r.provider);\n}\nconst verdicts = Object.values(byTarget).map(v => {\n  const parts = [];\n  if (v.sources.abuseipdb) parts.push(`AbuseIPDB ${v.sources.abuseipdb.confidence}%`);\n  if (v.sources.otx) parts.push(`OTX ${v.sources.otx.pulses} pulses`);\n  if (v.sources.shodan) parts.push(`Shodan ${(v.sources.shodan.ports||[]).length} ports`);\n  v.summary = parts.length ? parts.join(' \\u00b7 ') : 'no provider data';\n  return v;\n});\nreturn [{ json: { case_id: caseId, verdicts } }];\n"
      },
      "notes": "One verdict per target with per-provider sources + summary"
    },
    {
      "name": "Build IRIS Payloads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ],
      "parameters": {
        "jsCode": "// Build one note payload + N ioc payloads from verdicts.\nconst { case_id, verdicts } = $input.first().json;\n// IRIS v2.4.20 verified type ids; hash chosen by value length\nfunction iocTypeId(v) {\n  if (v.type === 'ip') return 79;       // ip-src\n  if (v.type === 'domain') return 20;   // domain\n  if (v.type === 'url') return 141;     // url\n  if (v.type === 'hash') { const L = (v.value || '').length; return L === 64 ? 113 : L === 40 ? 111 : 90; } // sha256/sha1/md5\n  return 90;\n}\n\nif (!verdicts || verdicts.length === 0) {\n  return [{ json: { case_id, note: { note_title: 'Automated enrichment', note_content: 'No external indicators to enrich for this offense.' }, iocs: [] } }];\n}\n\nlet md = '## Automated threat-intel enrichment\\n\\n';\nfor (const v of verdicts) {\n  md += `### ${v.type.toUpperCase()} \\`${v.value}\\`\\n\\n`;\n  md += `**Summary:** ${v.summary}\\n\\n`;\n  md += '| Provider | Finding |\\n|---|---|\\n';\n  if (v.sources.abuseipdb) md += `| AbuseIPDB | confidence ${v.sources.abuseipdb.confidence}%, ${v.sources.abuseipdb.reports} reports (${v.sources.abuseipdb.country||'?'}) |\\n`;\n  if (v.sources.shodan) md += `| Shodan | ports ${(v.sources.shodan.ports||[]).join(', ')||'none'}; vulns ${(v.sources.shodan.vulns||[]).join(', ')||'none'} |\\n`;\n  if (v.sources.otx) md += `| OTX | ${v.sources.otx.pulses} pulses${v.sources.otx.top&&v.sources.otx.top.length?': '+v.sources.otx.top.join('; '):''} |\\n`;\n  for (const u of (v.unavailable||[])) md += `| ${u} | unavailable |\\n`;\n  md += '\\n';\n}\n\nconst iocs = verdicts.map(v => ({\n  ioc_type_id: iocTypeId(v),\n  ioc_value: v.value,\n  ioc_description: `SIEM enrichment: ${v.summary}`,\n  ioc_tags: 'siem,enrichment',\n  ioc_tlp_id: 2\n}));\n\nreturn [{ json: { case_id, note: { note_title: 'Automated enrichment', note_content: md }, iocs } }];"
      },
      "notes": "Compose IRIS note markdown + IOC payloads from verdicts"
    },
    {
      "name": "Post Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        220
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{$env.IRIS_API_URL || 'http://iris-web:8000'}}/case/notes/add?cid={{ $('Build IRIS Payloads').first().json.case_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ...$('Build IRIS Payloads').first().json.note, directory_id: ($json.data && $json.data.id) || null }) }}",
        "options": {
          "timeout": 8000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "iris-api-key",
          "name": "IRIS API Key"
        }
      },
      "notes": "Post enrichment note to the IRIS case (best-effort)"
    },
    {
      "name": "Split IOCs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        380
      ],
      "parameters": {
        "jsCode": "const j = $input.first().json;\nreturn (j.iocs || []).map(ioc => ({ json: { case_id: j.case_id, ...ioc } }));"
      },
      "notes": "Emit one item per IOC for the IOC POST node"
    },
    {
      "name": "Register IOC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        380
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{$env.IRIS_API_URL || 'http://iris-web:8000'}}/case/ioc/add?cid={{ $json.case_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ioc_type_id: $json.ioc_type_id, ioc_value: $json.ioc_value, ioc_description: $json.ioc_description, ioc_tags: $json.ioc_tags, ioc_tlp_id: $json.ioc_tlp_id }) }}",
        "options": {
          "timeout": 8000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "iris-api-key",
          "name": "IRIS API Key"
        }
      },
      "notes": "Register each target as an IOC on the case (best-effort)"
    },
    {
      "name": "Ensure Note Directory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        140
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{$env.IRIS_API_URL || 'http://iris-web:8000'}}/case/notes/directories/add?cid={{ $json.case_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: 'SIEM Enrichment' }) }}",
        "options": {
          "timeout": 8000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "iris-api-key",
          "name": "IRIS API Key"
        }
      },
      "notes": "IRIS v2.4.0+ notes require a directory; create one and capture data.id for Post Note"
    },
    {
      "name": "Filter AbuseIPDB",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1180,
        240
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "fabuseipdb",
              "leftValue": "={{ $json.provider }}",
              "rightValue": "abuseipdb",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "notes": "Pass only abuseipdb work items to the AbuseIPDB HTTP node"
    },
    {
      "name": "Filter Shodan",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1180,
        360
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "fshodan",
              "leftValue": "={{ $json.provider }}",
              "rightValue": "shodan",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "notes": "Pass only shodan work items to the Shodan HTTP node"
    },
    {
      "name": "Filter OTX",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1180,
        480
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "fotx",
              "leftValue": "={{ $json.provider }}",
              "rightValue": "otx",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "notes": "Pass only otx work items to the OTX HTTP node"
    },
    {
      "name": "Merge Cache Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "jsCode": "// n8n 2.x Redis 'get' returns only `cached_raw` and drops the input fields.\n// Re-attach the original work-item fields from Build Targets by index\n// (Cache Get preserves item order 1:1), keeping cached_raw.\nconst src = $('Build Targets').all();\nreturn $input.all().map((item, idx) => ({\n  json: { ...(src[idx] ? src[idx].json : {}), cached_raw: item.json.cached_raw },\n}));\n"
      }
    },
    {
      "name": "Ctx AbuseIPDB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1430,
        240
      ],
      "parameters": {
        "jsCode": "// Re-attach work-item context lost when the AbuseIPDB HTTP node replaced\n// the item with the API response. Merge by index from Filter AbuseIPDB; the\n// response fields are spread on top so Normalize Result reads both.\nconst ctx = $('Filter AbuseIPDB').all();\nreturn $input.all().map((it, i) => ({\n  json: { ...(ctx[i] ? ctx[i].json : {}), ...it.json },\n}));\n"
      }
    },
    {
      "name": "Ctx Shodan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1430,
        360
      ],
      "parameters": {
        "jsCode": "// Re-attach work-item context lost when the Shodan HTTP node replaced\n// the item with the API response. Merge by index from Filter Shodan; the\n// response fields are spread on top so Normalize Result reads both.\nconst ctx = $('Filter Shodan').all();\nreturn $input.all().map((it, i) => ({\n  json: { ...(ctx[i] ? ctx[i].json : {}), ...it.json },\n}));\n"
      }
    },
    {
      "name": "Ctx OTX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1430,
        480
      ],
      "parameters": {
        "jsCode": "// Re-attach work-item context lost when the OTX HTTP node replaced\n// the item with the API response. Merge by index from Filter OTX; the\n// response fields are spread on top so Normalize Result reads both.\nconst ctx = $('Filter OTX').all();\nreturn $input.all().map((it, i) => ({\n  json: { ...(ctx[i] ? ctx[i].json : {}), ...it.json },\n}));\n"
      }
    },
    {
      "name": "Merge Providers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1420,
        360
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 3
      }
    }
  ],
  "connections": {
    "Enrichment Trigger": {
      "main": [
        [
          {
            "node": "Build Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Targets": {
      "main": [
        [
          {
            "node": "Has Targets?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Targets?": {
      "main": [
        [
          {
            "node": "Cache Get",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Get": {
      "main": [
        [
          {
            "node": "Merge Cache Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Hit?": {
      "main": [
        [
          {
            "node": "Decode Cache Hit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter AbuseIPDB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Shodan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter OTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AbuseIPDB": {
      "main": [
        [
          {
            "node": "Ctx AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shodan": {
      "main": [
        [
          {
            "node": "Ctx Shodan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OTX": {
      "main": [
        [
          {
            "node": "Ctx OTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Result": {
      "main": [
        [
          {
            "node": "Only Cache OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate Verdict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Cache OK": {
      "main": [
        [
          {
            "node": "Cache Set",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Cache Set": {
      "main": [
        []
      ]
    },
    "Decode Cache Hit": {
      "main": [
        []
      ]
    },
    "Aggregate Verdict": {
      "main": [
        [
          {
            "node": "Build IRIS Payloads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build IRIS Payloads": {
      "main": [
        [
          {
            "node": "Ensure Note Directory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split IOCs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split IOCs": {
      "main": [
        [
          {
            "node": "Register IOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Note Directory": {
      "main": [
        [
          {
            "node": "Post Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter AbuseIPDB": {
      "main": [
        [
          {
            "node": "AbuseIPDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Shodan": {
      "main": [
        [
          {
            "node": "Shodan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter OTX": {
      "main": [
        [
          {
            "node": "OTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Cache Fields": {
      "main": [
        [
          {
            "node": "Cache Hit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ctx AbuseIPDB": {
      "main": [
        [
          {
            "node": "Merge Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ctx Shodan": {
      "main": [
        [
          {
            "node": "Merge Providers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ctx OTX": {
      "main": [
        [
          {
            "node": "Merge Providers",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Providers": {
      "main": [
        [
          {
            "node": "Normalize Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "zsiemEnrichWf01"
}