n8n/workflows/z-siem-offense-to-case.json
{
  "name": "Z-SIEM Offense-to-Case Workflow",
  "nodes": [
    {
      "name": "SIEM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 400],
      "webhookId": "a1f5c2e0-3b7d-4c9a-8e21-5f0d9c4b7a10",
      "parameters": {
        "httpMethod": "POST",
        "path": "siem-offense",
        "responseMode": "responseNode",
        "options": {}
      },
      "notes": "Receives SIEM offense payloads from siem_simulator.py"
    },
    {
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "combinator": "and",
          "conditions": [
            {
              "id": "v1",
              "leftValue": "={{ $json.body.offense_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            },
            {
              "id": "v2",
              "leftValue": "={{ $json.body.severity }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "notes": "Validate required fields offense_id and severity"
    },
    {
      "name": "Reject Invalid",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 550],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Invalid payload\", \"message\": \"Required fields: offense_id, severity\" }",
        "options": {
          "responseCode": 400
        }
      },
      "notes": "Return 400 if payload is invalid"
    },
    {
      "name": "Extract Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [640, 250],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "offense_id", "type": "string", "value": "={{ $json.body.offense_id }}" },
            { "id": "f2", "name": "severity", "type": "string", "value": "={{ $json.body.severity }}" },
            { "id": "f3", "name": "type", "type": "string", "value": "={{ $json.body.type }}" },
            { "id": "f4", "name": "description", "type": "string", "value": "={{ $json.body.description }}" },
            { "id": "f5", "name": "indicator", "type": "string", "value": "={{ $json.body.indicator }}" },
            { "id": "f6", "name": "indicator_type", "type": "string", "value": "={{ $json.body.indicator_type }}" },
            { "id": "f7", "name": "source_ip", "type": "string", "value": "={{ $json.body.source?.ip || 'unknown' }}" },
            { "id": "f8", "name": "asset_hostname", "type": "string", "value": "={{ $json.body.asset?.hostname || 'unknown' }}" },
            { "id": "f9", "name": "asset_ip", "type": "string", "value": "={{ $json.body.asset?.ip || 'unknown' }}" },
            { "id": "f10", "name": "asset_criticality", "type": "string", "value": "={{ $json.body.asset?.criticality || 'medium' }}" },
            { "id": "f11", "name": "confidence", "type": "number", "value": "={{ $json.body.confidence }}" },
            { "id": "f12", "name": "received_at", "type": "string", "value": "={{ $now.toISO() }}" }
          ]
        },
        "options": {}
      },
      "notes": "Extract and normalize offense fields for IRIS case creation"
    },
    {
      "name": "Create IRIS Case",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 250],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "={{$env.IRIS_API_URL || 'http://iris-web:8000'}}/manage/cases/add",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"case_name\": \"[{{ $json.offense_id }}] {{ $json.type }} from {{ $json.source_ip }}\",\n  \"case_description\": \"SIEM offense: {{ $json.description }}\\nIndicator: {{ $json.indicator }} ({{ $json.indicator_type }})\\nConfidence: {{ $json.confidence }}%\\nAsset: {{ $json.asset_hostname }} ({{ $json.asset_ip }})\\nSeverity: {{ $json.severity }}\",\n  \"case_soc_id\": \"{{ $json.offense_id }}\",\n  \"case_customer\": 1,\n  \"case_classification\": {{ $json.type === 'malware_c2' || $json.type === 'ransomware_indicator' ? 3 : ($json.type === 'lateral_movement' || $json.type === 'privilege_escalation' ? 2 : 1) }},\n  \"custom_tags\": \"siem,{{ $json.type }},{{ $json.severity }}\"\n}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "iris-api-key",
          "name": "IRIS API Key"
        }
      },
      "notes": "Create new case in DFIR-IRIS with SLA assignment based on severity"
    },
    {
      "name": "Store SLA Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 250],
      "parameters": {
        "jsCode": "// Record SLA start and IRIS case ID\nconst items = $input.all();\n\nconst results = items.map(item => {\n  const json = item.json;\n  const irisCaseId = json?.data?.case_id || json?.data?.id || json?.case_id;\n  \n  return {\n    json: {\n      ...json,\n      iris_case_id: irisCaseId,\n      sla_start: new Date().toISOString(),\n      sla_status: 'running'\n    }\n  };\n});\n\ntry {\n  const fs = require('fs');\n  const logPath = '/home/node/.n8n/workspace/siem-sla-metrics.jsonl';\n  const entry = results[0].json;\n  const logLine = JSON.stringify({\n    case_id: entry.iris_case_id,\n    offense_id: entry.offense_id,\n    sla_start: entry.sla_start,\n    severity: entry.severity,\n    event: 'sla_started'\n  });\n  fs.appendFileSync(logPath, logLine + '\\n');\n} catch (e) {\n  // Non-blocking: log to item if file write fails\n  results[0].json.sla_file_error = e.message;\n}\n\nreturn results;"
      },
      "notes": "Store IRIS case ID and SLA start timestamp, log to JSONL file"
    },
    {
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 250],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"accepted\", \"case_id\": \"{{ $json.iris_case_id }}\", \"sla_start\": \"{{ $json.sla_start }}\", \"message\": \"Case created and SLA timer started\"}",
        "options": {}
      },
      "notes": "Return 200 OK with case_id to SIEM simulator"
    },
    {
      "name": "Close Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 650],
      "webhookId": "b2e6d3f1-4c8e-5d0b-9f32-6a1e0d5c8b21",
      "parameters": {
        "httpMethod": "POST",
        "path": "siem-close-case",
        "responseMode": "responseNode",
        "options": {}
      },
      "notes": "Endpoint for analyst to close a case. Body: {\"case_id\": 42, \"close_reason\": \"resolved\"}"
    },
    {
      "name": "Close IRIS Case",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 650],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "={{$env.IRIS_API_URL || 'http://iris-web:8000'}}/manage/cases/close/{{ $json.body.case_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": false,
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "iris-api-key",
          "name": "IRIS API Key"
        }
      },
      "notes": "Close the IRIS case via API"
    },
    {
      "name": "Calculate SLA Duration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 650],
      "parameters": {
        "jsCode": "// Calculate SLA duration from JSONL file.\n// case_id / close_reason come from the original Close Webhook payload, since the\n// preceding HTTP node replaced $json with the IRIS API response.\nconst fs = require('fs');\nconst webhook = $('Close Webhook').first().json.body;\nconst caseId = webhook.case_id;\nconst closeReason = webhook.close_reason || 'resolved';\n\nconst logPath = '/home/node/.n8n/workspace/siem-sla-metrics.jsonl';\nlet slaDuration = null;\nlet slaStart = null;\nlet status = 'closed';\n\ntry {\n  const lines = fs.readFileSync(logPath, 'utf8').trim().split('\\n');\n  \n  // Find matching case in JSONL (compare as strings to be type-safe)\n  for (const line of lines) {\n    if (line.trim() === '') continue;\n    const entry = JSON.parse(line);\n    if (String(entry.case_id) === String(caseId) && entry.event === 'sla_started') {\n      slaStart = entry.sla_start;\n      break;\n    }\n  }\n  \n  if (slaStart) {\n    const elapsed = (new Date().getTime() - new Date(slaStart).getTime()) / 1000;\n    slaDuration = Math.round(elapsed);\n    status = 'completed';\n  } else {\n    status = 'closed_no_sla_record';\n  }\n  \n  // Append close event to JSONL\n  const closeLog = JSON.stringify({\n    case_id: caseId,\n    sla_start: slaStart,\n    sla_end: new Date().toISOString(),\n    sla_duration_seconds: slaDuration,\n    event: 'sla_closed'\n  });\n  fs.appendFileSync(logPath, closeLog + '\\n');\n  \n} catch (e) {\n  status = 'closed_log_error';\n}\n\nreturn [{\n  json: {\n    case_id: caseId,\n    close_reason: closeReason,\n    sla_start: slaStart,\n    sla_duration_seconds: slaDuration,\n    sla_status: status,\n    closed_at: new Date().toISOString()\n  }\n}];"
      },
      "notes": "Calculate SLA duration and log close event to JSONL"
    },
    {
      "name": "Respond Close OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 650],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"closed\", \"case_id\": \"{{ $json.case_id }}\", \"sla_duration_seconds\": \"{{ $json.sla_duration_seconds }}\", \"sla_status\": \"{{ $json.sla_status }}\" }",
        "options": {}
      },
      "notes": "Return SLA metrics to caller"
    },
    {
      "name": "Error Handler",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 550],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"IRIS API error\", \"message\": \"Failed to reach or process the request in DFIR-IRIS\" }",
        "options": {
          "responseCode": 502
        }
      },
      "notes": "Returns 502 when an IRIS API call fails so the webhook caller is not left hanging"
    }
  ],
  "connections": {
    "SIEM Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Create IRIS Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IRIS Case": {
      "main": [
        [
          {
            "node": "Store SLA Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store SLA Start": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Webhook": {
      "main": [
        [
          {
            "node": "Close IRIS Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close IRIS Case": {
      "main": [
        [
          {
            "node": "Calculate SLA Duration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate SLA Duration": {
      "main": [
        [
          {
            "node": "Respond Close OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "z-siem"
    },
    {
      "name": "siem-automation"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-06-24T12:00:00.000Z",
  "versionId": "z-siem-v1.0.0"
}
