n8n/workflows/z-siem-qradar-poller.json
{
  "name": "Z-SIEM QRadar Offense-to-Case",
  "nodes": [
    {
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        140,
        160
      ],
      "parameters": {
        "width": 1640,
        "height": 200,
        "content": "## Z-SIEM · QRadar Offense → IRIS Case (v3)\nEvery minute: fetch existing IRIS cases → poll QRadar open offenses → skip any offense whose `QR-<id>` case already exists → create the case → enrich IP indicators.\n\n- **Dedup is authoritative**: `Build QRadar Case` checks `case_soc_id` from `Get IRIS Cases`, so a case can never be created twice (no side-file to drift).\n- **QRadar** `GET /api/siem/offenses` · `SEC` credential · `Range: items=0-199`  ·  **IRIS** `/manage/cases/list` + `/manage/cases/add` · `IRIS API Key` credential\n- Hosts from `$env.QRADAR_API_URL` / `$env.IRIS_API_URL`; tokens live in n8n credentials, never in this file."
      }
    },
    {
      "name": "Every minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        420
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "notes": "Poll QRadar for open offenses every minute."
    },
    {
      "name": "Get IRIS Cases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        420
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.IRIS_API_URL || 'http://iris-web:8000' }}/manage/cases/list",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "notes": "Fetch existing IRIS cases so Build QRadar Case can skip offenses that already have a case (authoritative dedup by case_soc_id). Fail-closed: if this errors the poll stops rather than risk duplicates."
    },
    {
      "name": "QRadar Get Offenses",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        420
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "={{ $env.QRADAR_API_URL || 'https://qradar.local' }}/api/siem/offenses",
        "authentication": "predefinedCredentialType",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "status=OPEN"
            }
          ]
        },
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Range",
              "value": "items=0-199"
            },
            {
              "name": "Version",
              "value": "20.0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        },
        "nodeCredentialType": "httpHeaderAuth"
      },
      "notes": "GET open offenses. Auth via the 'QRadar SEC' header-auth credential (Name=SEC) -- create it once on the server; token is NOT stored in this file. Range sent as HTTP header. allowUnauthorizedCerts=true because QRadar uses a self-signed cert; remediate by installing the QRadar CA into n8n (NODE_EXTRA_CA_CERTS) and removing this flag."
    },
    {
      "name": "Build QRadar Case",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        420
      ],
      "parameters": {
        "jsCode": "// Dedup against already-processed offenses, then map each NEW QRadar offense\n// into an IRIS case body + SLA fields. Returns 0 items when nothing is new.\n// Dedup against cases that already exist in IRIS (authoritative: the case's\n// existence IS the dedup record, so it can never drift like a side file).\nconst casesResp = $('Get IRIS Cases').first().json;\nconst existing = Array.isArray(casesResp && casesResp.data) ? casesResp.data : ((casesResp && casesResp.data && casesResp.data.cases) || []);\nconst seen = new Set();\nfor (const c of existing) { const s = c && c.case_soc_id; if (typeof s === 'string' && s.indexOf('QR-') === 0) seen.add(s); }\n\nconst pad = n => String(n).padStart(2, '0');\nconst pretty = d => `${d.getUTCFullYear()}-${pad(d.getUTCMonth()+1)}-${pad(d.getUTCDate())} ${pad(d.getUTCHours())}:${pad(d.getUTCMinutes())}:${pad(d.getUTCSeconds())}`;\n\n// QRadar offense_type id -> indicator semantics (common subset).\nconst OFFENSE_TYPE = {\n  0: { label: 'Source IP', itype: 'ip' },\n  1: { label: 'Destination IP', itype: 'ip' },\n  2: { label: 'Event Name', itype: 'other' },\n  3: { label: 'Username', itype: 'account' },\n  4: { label: 'Source MAC', itype: 'mac' },\n  5: { label: 'Destination MAC', itype: 'mac' },\n  6: { label: 'Log Source', itype: 'other' },\n  7: { label: 'Hostname', itype: 'hostname' },\n};\n\n// QRadar magnitude (1-10) -> severity string, SLA target hours, IRIS classification.\nfunction sevFromMag(m) {\n  if (m >= 9) return { sev: 'critical', hours: 4, classification: 3 };\n  if (m >= 7) return { sev: 'high', hours: 8, classification: 2 };\n  if (m >= 4) return { sev: 'medium', hours: 24, classification: 1 };\n  return { sev: 'low', hours: 24, classification: 1 };\n}\n\nconst now = new Date();\nconst out = [];\n\nfor (const item of $input.all()) {\n  const o = item.json;\n  if (!o || o.id == null) continue;\n  const soc = `QR-${o.id}`;\n  if (seen.has(soc)) continue; // a case already exists in IRIS for this offense\n\n  const mag = Number(o.magnitude != null ? o.magnitude : (o.severity || 0));\n  const { sev, hours, classification } = sevFromMag(mag);\n  const ot = OFFENSE_TYPE[o.offense_type] || { label: `offense_type ${o.offense_type}`, itype: 'other' };\n  const indicator = o.offense_source || 'unknown';\n  const source_ip = ot.itype === 'ip' ? indicator : 'unknown';\n  const status = o.status || 'OPEN';\n  const assigned_to = o.assigned_to || 'unassigned';\n  const descRaw = (o.description || '').trim();\n  const cats = Array.isArray(o.categories) ? o.categories.join(', ') : '';\n  const rules = Array.isArray(o.rules) ? o.rules.map(r => r.id).join(', ') : '';\n  const logsrc = Array.isArray(o.log_sources) ? o.log_sources.map(l => l.name).join(', ') : '';\n  const startTime = o.start_time ? new Date(o.start_time) : now;\n\n  const opened_iso = now.toISOString();\n  const opened_pretty = pretty(now);\n  const due = new Date(now.getTime() + hours * 3600 * 1000);\n  const due_iso = due.toISOString();\n  const due_pretty = pretty(due);\n\n  const descMd = [\n    `# \\uD83D\\uDEA8 QRadar Offense ${o.id}: ${ot.label}`,\n    ``,\n    `${descRaw || '_No description provided._'}`,\n    ``,\n    `## \\uD83D\\uDCCC Detection details`,\n    `| Field | Value |`,\n    `| --- | --- |`,\n    `| **Offense ID** | \\`${o.id}\\` |`,\n    `| **Status** | ${status} |`,\n    `| **Assigned to** | ${assigned_to} |`,\n    `| **Magnitude** | ${o.magnitude} (sev ${o.severity} \\u00B7 cred ${o.credibility} \\u00B7 rel ${o.relevance}) |`,\n    `| **Severity (SLA)** | \\`${sev}\\` |`,\n    `| **Offense type** | ${ot.label} |`,\n    `| **Source (offense_source)** | \\`${indicator}\\` |`,\n    `| **Source network** | ${o.source_network || 'n/a'} |`,\n    `| **Destination networks** | ${(o.destination_networks || []).join(', ') || 'n/a'} |`,\n    `| **Categories** | ${cats || 'n/a'} |`,\n    `| **Triggered rule IDs** | ${rules || 'n/a'} |`,\n    `| **Log sources** | ${logsrc || 'n/a'} |`,\n    `| **Events / Flows** | ${o.event_count} / ${o.flow_count} |`,\n    `| **First seen** | ${pretty(startTime)} UTC |`,\n    ``,\n    `## \\u23F1\\uFE0F SLA / Case lifecycle`,\n    `| Event | Timestamp |`,\n    `| --- | --- |`,\n    `| \\uD83D\\uDFE2 **Opened** | ${opened_pretty} UTC |`,\n    `| \\uD83D\\uDD34 **Closed** | _pending \\u2014 written on close_ |`,\n    ``,\n    `| SLA metric | Value |`,\n    `| --- | --- |`,\n    `| **Target (${sev})** | ${hours}h |`,\n    `| **Due by** | ${due_pretty} UTC |`,\n    `| **Time to resolve** | _pending_ |`,\n    `| **Status** | \\u23F3 Open |`,\n    ``,\n    `---`,\n    `*Polled from QRadar \\u00B7 threat-intel enrichment is posted as a note.*`,\n  ].join('\\n');\n\n  const caseBody = {\n    case_name: `[QR-${o.id}] ${ot.label} from ${indicator}`,\n    case_description: descMd,\n    case_soc_id: soc,\n    case_customer: 1,\n    case_classification: classification,\n    case_tags: `opened ${pad((now.getUTCHours()+4)%24)}:${pad(now.getUTCMinutes())} AZT`,\n  };\n\n  out.push({ json: {\n    offense_id: o.id,\n    severity: sev,\n    target_hours: hours,\n    opened_iso, opened_pretty, due_iso, due_pretty,\n    classification,\n    indicator, indicator_type: ot.itype, source_ip,\n    status, assigned_to,\n    caseBody,\n  } });\n}\n\nreturn out;\n"
      },
      "notes": "Skip offenses whose QR-<id> case already exists in IRIS (from Get IRIS Cases), then build the case body + SLA fields for new offenses."
    },
    {
      "name": "Create IRIS Case",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        420
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "method": "POST",
        "url": "={{ $env.IRIS_API_URL || 'http://iris-web:8000' }}/manage/cases/add",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.caseBody) }}",
        "options": {}
      },
      "notes": "Create the IRIS case. Success -> Store SLA Start. Error -> Log IRIS Failures (offense not marked seen, so it retries)."
    },
    {
      "name": "Store SLA Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        320
      ],
      "parameters": {
        "jsCode": "// Mark each offense as processed (seen file) and log an sla_started event so the\n// existing SLA poller can complete the SLA block when the case is closed in IRIS.\nconst fs = require('fs');\nconst WS_DIR = '/home/node/.n8n/workspace';\ntry { fs.mkdirSync(WS_DIR, { recursive: true }); } catch (e) {}\nconst logPath = WS_DIR + '/siem-sla-metrics.jsonl';\n\nconst built = $('Build QRadar Case').all();\nconst results = [];\n\n$input.all().forEach((item, i) => {\n  const j = item.json;\n  const idx = (item.pairedItem && typeof item.pairedItem.item === 'number') ? item.pairedItem.item : i;\n  const bcf = (built[idx] && built[idx].json) || (built[0] && built[0].json) || {};\n  const irisCaseId = (j && j.data && (j.data.case_id || j.data.id)) || (j && j.case_id);\n\n  try {\n    fs.appendFileSync(logPath, JSON.stringify({\n      case_id: irisCaseId, offense_id: bcf.offense_id, sla_start: bcf.opened_iso,\n      severity: bcf.severity, target_hours: bcf.target_hours, due: bcf.due_iso,\n      event: 'sla_started', src: 'qradar',\n    }) + '\\n');\n  } catch (e) { j.sla_file_error = e.message; }\n\n  results.push({ json: {\n    iris_case_id: irisCaseId,\n    offense_id: bcf.offense_id,\n    severity: bcf.severity,\n    sla_start: bcf.opened_iso,\n    target_hours: bcf.target_hours,\n    due_iso: bcf.due_iso,\n    sla_status: 'running',\n    indicator: bcf.indicator,\n    indicator_type: bcf.indicator_type,\n    source_ip: bcf.source_ip,\n  } });\n});\n\nreturn results;\n"
      },
      "notes": "Append an sla_started event to siem-sla-metrics.jsonl (best-effort) so the SLA Poller can complete the SLA on GUI close. Dedup is handled upstream by IRIS."
    },
    {
      "name": "Build Enrich Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        320
      ],
      "parameters": {
        "jsCode": "// One item per new case that has an enrichable IP indicator (skip unknown / non-IP).\nreturn $input.all()\n  .filter(item => item.json.iris_case_id\n    && item.json.indicator_type === 'ip'\n    && item.json.indicator\n    && item.json.indicator !== 'unknown')\n  .map(item => ({ json: {\n    case_id: item.json.iris_case_id,\n    indicator: item.json.indicator,\n    indicator_type: item.json.indicator_type,\n    source_ip: item.json.source_ip,\n  } }));\n"
      },
      "notes": "Construct the enrichment sub-workflow input, only for real IP indicators."
    },
    {
      "name": "Enrich Case",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1680,
        320
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "zsiemEnrichWf01",
          "mode": "id"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "notes": "Fire enrichment (AbuseIPDB/Shodan/OTX) per case, async. workflowId must match the 'Z-SIEM Enrichment' sub-workflow id on this server."
    },
    {
      "name": "Log IRIS Failures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        540
      ],
      "parameters": {
        "jsCode": "// Capture offenses whose IRIS case creation failed. They are NOT written to the\n// seen-file (Store SLA Start only runs on success), so they retry on the next poll.\nconst fs = require('fs');\nconst WS_DIR = '/home/node/.n8n/workspace';\ntry { fs.mkdirSync(WS_DIR, { recursive: true }); } catch (e) {}\nconst ERR = '/home/node/.n8n/workspace/qradar-errors.jsonl';\nconst built = $('Build QRadar Case').all();\nconst out = [];\n\n$input.all().forEach((item, i) => {\n  const j = item.json || {};\n  const idx = (item.pairedItem && typeof item.pairedItem.item === 'number') ? item.pairedItem.item : i;\n  const bcf = (built[idx] && built[idx].json) || {};\n  let errMsg = j.error || (j.error && j.error.message) || j.message || 'unknown error';\n  if (typeof errMsg !== 'string') errMsg = JSON.stringify(errMsg);\n\n  try {\n    fs.appendFileSync(ERR, JSON.stringify({\n      offense_id: bcf.offense_id, severity: bcf.severity, error: errMsg,\n      at: new Date().toISOString(), event: 'iris_create_failed',\n    }) + '\\n');\n  } catch (e) {}\n\n  out.push({ json: { offense_id: bcf.offense_id, failed: true, error: errMsg } });\n});\n\nreturn out;\n"
      },
      "notes": "Append IRIS create failures to qradar-errors.jsonl for triage. Failed offenses retry next poll."
    }
  ],
  "connections": {
    "Every minute": {
      "main": [
        [
          {
            "node": "Get IRIS Cases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get IRIS Cases": {
      "main": [
        [
          {
            "node": "QRadar Get Offenses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QRadar Get Offenses": {
      "main": [
        [
          {
            "node": "Build QRadar Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build QRadar Case": {
      "main": [
        [
          {
            "node": "Create IRIS Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IRIS Case": {
      "main": [
        [
          {
            "node": "Store SLA Start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log IRIS Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store SLA Start": {
      "main": [
        [
          {
            "node": "Build Enrich Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Enrich Input": {
      "main": [
        [
          {
            "node": "Enrich Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "z-siem"
    },
    {
      "name": "qradar"
    }
  ],
  "triggerCount": 0,
  "versionId": "z-siem-qradar-v3.0.0",
  "id": "zsiemQradarWf01"
}
